p Tervetuloa ilmoittautumaan uuteen Freeciv-peliimme!

p 
	| Aloitamme ottelun 
	b pian 
	| (viimeistään 
	b ma 5.9.2011
	| ).
	br
	| Peli jatkuu tämän jälkeen 
	b yksi vuoro päivässä
	| .

p
	| Lisätietoja löydät
	a(href="http://freeciv.fi/wiki/", target="_blank") wikistämme
	|  tai 
	a(href="http://www.facebook.com/event.php?eid=247270245303591", target="_blank") Facebookista
	|  tai 
	a(href="http://freeciv.fi/wiki/IRC", target="_blank") IRC:ssä #freeciv.fi 
	|  tai 
	a(href="http://www.v2.fi/artikkelit/pelit/6/Vapaa-oli-sivilisaationi/") Vapaa oli sivilisaationi 15.04.2007
	| .

#ilmo
	form(method='post', action='reg')
		fieldset
			legend Otteluun ilmoittautuminen
			| Nyt ilmoittautunut: 
			b= work.players
			b /126
			|  - vapaana vielä 
			b= work.free_players
			b &nbsp;KPL
			| !
			br
			br
			label Sähköposti: 
			- if(session.user)
				= session.user.email
				input(type='hidden', name='email', value=session.user.email)
			- else
				br
				input(name='email')
			br
			- if(work.userRegisteredToGame)
				label Kansalaisuus: 
				- if(work.player)
					= work.player.nation
				- else
					| Valitsematta
				br
				label Hallitsijan nimi: 
				- if(work.player)
					= work.player.name
				- else
					| Valitsematta
				br
			- if(work.userRegisteredToGame)
				a(href='setup', class='button positive')
					img(src='/images/blueprint/plugins/buttons/icons/tick.png', alt='')
					| Muokkaa
				a(href='unreg', class='button negative')
					img(src='/images/blueprint/plugins/buttons/icons/cross.png', alt='')
					| Poista varaus
			- else
				button(type='submit', class='button positive')
					img(src='/images/blueprint/plugins/buttons/icons/tick.png', alt='')
					| Lähetä varaus
			br
			hr
			div(class='small') Käytämme sähköpostiosoitetta ainoastaan tämän verkkopalvelun käyttäjätunnuksena ja ajankohtaisten tiedotteiden lähettämiseen. Emme julkaise tai levitä osoitetta edelleen.
div(class='sponsors')
	| Yhteistyössä mukana: 
	br
	a(href="http://www.v2.fi", target="_blank")
		img(src="/images/logot/v2-logo-125.png", alt="V2.fi", width="174", height="125")
