hr
#act
	form(method='post', action='/act/'+key)
		fieldset
			legend Salasanan asettaminen
			br
			label Sähköposti:
			= email
			br
			label Salasana:
			br
			input(type='password', name='password1', value='')
			br
			label Salasana (uudelleen):
			br
			input(type='password', name='password2', value='')
			br
			br
			button(type='submit', class='button positive')
				img(src='/images/blueprint/plugins/buttons/icons/tick.png', alt='')
				| Vahvista
			a(href='#', class='button negative')
				img(src='/images/blueprint/plugins/buttons/icons/cross.png', alt='')
				| Peruuta
hr
- if (flash)
	- if (flash.error)
		h4 Virheitä tapahtui:
		- each msg in flash.error
			div(class='error')= msg
		hr
	- if (flash.info)
		h4 Huomaa:
		- each msg in flash.info
			div(class='info')= msg
