h1 Ilmoittautuminen

p Tervetuloa ilmoittautumaan uuteen Freeciv-peliimme.

p 
	| Aloitamme pelin kun ilmoittautuneita on 
	b yli 30
	|  tai viimeistään 
	b ma 5.9.2011
	| .

p
	| Ilmoittautuneita: 
	b= players
	b /126
	|  - vapaana vielä
	b= free_players
	b  KPL
	| !

p
	| Lisätietoja löydät
	a(href="http://freeciv.fi/wiki/", target="_blank") wikistämme
	|  tai 
	a(href="http://www.facebook.com/event.php?eid=247270245303591", target="_blank") Facebookista
	|  tai 
	a(href="http://freeciv.fi/wiki/IRC", target="_blank") IRC:ssä #freeciv.fi 
	| .

hr
#ilmo
	form(method='post', action='/ilmo')
		| Sähköposti:
		input(name='email')
		input(type='submit', value='Lähetä')
hr
- if (flash)
	- if (flash.error)
		b Virheitä tapahtui:
		ul
			- each msg in flash.error
				li= msg
		hr
	- if (flash.info)
		b Kiitos ilmoituksesta!
		ul
			- each msg in flash.info
				li= msg
		hr
p
	a(href="http://freeciv.fi/wiki/Game.freeciv.fi", target="_blank") game.freeciv.fi
