!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', type='text/css', media='screen, projection')
		link(rel='stylesheet', href='/stylesheets/blueprint/print.css', type='text/css', media='print')
		//if lt IE 8
			link(rel='stylesheet', href='/stylesheets/blueprint/ie.css', type='text/css', media='screen, projection')
		link(rel='stylesheet', href='/stylesheets/blueprint/plugins/buttons/screen.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class='container')
			div(class='header')
				img(src="/images/intro-page.png", alt="")
			div(class='title')
				h3 Freeciv.fi Syyskuu 2011/I
			div(class='content')!= body
			div(class='sponsors')
				| Yhteistyössä mukana: 
				br
				a(href="http://www.v2.fi", target="_blank")
					img(src="/images/logot/v2-logo-125.png", alt="V2.fi", width="174", height="125")
			div(class='footer')
				hr
				| Powered by 
				a(href="https://github.com/jheusala/website-freeciv-fi", target="_blank") game.freeciv.fi
