
body {
	background: #ffffff url(/images/page-top-bg.png) repeat-x;
	color: #000000;
}

.header {
	background: #000000;
	height: 300px;
	width: 100%;
	font-size: 20pt;
}

.header img {
	margin: 0;
}

.title {
	background: #570e0e url(/images/page-content-bg.png) repeat-y;
	font-size: 20px;
	color: #ffffff;
	height: 50px;
	width: 100%;
}

.title h3 {
	color: #ffffff;
	padding: 0 150px 0 150px;
}

.content {
	margin: 20px 80px;
	padding: 10px;
	font-size: 16pt;
}

.footer {
	font-size: 14pt;
	margin: 20px;
	text-align: center;
}

.sponsors {
	font-size: 14pt;
	text-align: center;
/*
	position: absolute;
	top: 400px;
	left: 50px;
*/
}
