form(method='post', action='/profile/edit')
	fieldset
		legend Tietojen muokkaaminen
		br
		label Sähköposti: 
		= session.user.email
		br
		label Käyttäjätunnus: 
		- if(session.user.name)
			= session.user.name
		- else
			br
			input(type='text', name='name', value='')
		br
		label Salasana:
		br
		input(type='password', name='password', value='')
		br
		label Salasana (uudelleen):
		br
		input(type='password', name='password2', value='')
		br
		br
		button(type='submit', class='button positive')
			img(src='/images/blueprint/plugins/buttons/icons/tick.png', alt='')
			| Tallenna
		a(href='index', class='button negative')
			img(src='/images/blueprint/plugins/buttons/icons/cross.png', alt='')
			| Peruuta
		div(class='small')
			- if(!session.user.name)
				hr
				| Käyttäjätunnus on julkinen pelaajan tunniste, jota ei voi siirtää toiselle pelaajalle. Valitse tunnus harkiten, sillä sen vaihtaminen myöhemmin vaatii yhteydenoton ylläpitäjään.
			hr
			| Käyttäjätunnuksella kirjaudutaan 
			a(href='http://freeciv.fi/wiki',target='_blank') wikiin
			|  ja 
			a(href='http://forum.freeciv.fi',target='_blank') foorumille
			| .
