fieldset
	legend Käyttäjätiedot
	br
	label Sähköposti: 
	= session.user.email
	br
	label Käyttäjätunnus: 
	- if(session.user.name)
		= session.user.name
	- else
		i Asettamatta
	br
	a(href='/profile/edit', class='button positive')
		img(src='/images/blueprint/plugins/buttons/icons/key.png', alt='')
		| Muokkaa tietoja
	div(class='small')
		hr
		- if(!session.user.name)
			| Käyttäjätunnus on julkisesti näkyvä pelaajan tunniste, jota ei voi siirtää toiselle käyttäjälle. (Otteluiden hallitsijanimi voidaan siirtää toiselle pelaajalle pelipaikan mukana.) Valitse tunnus harkiten, sillä sen vaihtaminen myöhemmin vaatii yhteydenoton ylläpitäjään.
		br
		| Käyttäjätunnuksella kirjaudutaan 
		a(href='http://freeciv.fi/wiki',target='_blank') wikiin
		|  ja 
		a(href='http://forum.freeciv.fi',target='_blank') foorumille
		| .
