fieldset
	legend Käyttäjätiedot
	br
	label Sähköposti: 
	= session.user.email
	br
	label Käyttäjätunnus: 
	- if(session.user.name)
		= session.user.name
	- else
		i Asettamatta
	br
	a(href='/profile/edit', class='button positive')
		img(src='/images/blueprint/plugins/buttons/icons/key.png', alt='')
		| Muokkaa tietoja
	div(class='small')
		- if(!session.user.name)
			hr
			| Käyttäjätunnus on julkinen pelaajan tunniste, jota ei voi siirtää toiselle pelaajalle. Valitse tunnus harkiten, sillä sen vaihtaminen myöhemmin vaatii yhteydenoton ylläpitäjään.
		hr
		| Käyttäjätunnuksella kirjaudutaan 
		a(href='http://freeciv.fi/wiki',target='_blank') wikiin
		|  ja 
		a(href='http://forum.freeciv.fi',target='_blank') foorumille
		| .
