fieldset
	legend Käyttäjätiedot
	br
	label Sähköposti: 
	= session.user.email
	br
	label Käyttäjätunnus: 
	- if(session.user.name)
		= session.user.name
	- else
		i Asettamatta
	br
	a(href='/profile/edit', class='button positive')
		img(src='/images/blueprint/plugins/buttons/icons/key.png', alt='')
		| Muokkaa tietoja
	hr
	| Käyttäjätunnuksen tarvitset
	a(href='http://freeciv.fi/wiki',target='_blank') wikissä
	|  ja 
	a(href='http://forum.freeciv.fi',target='_blank') foorumilla
	| .
