- if(!session.user)
	form(method='post', action='/login')
		fieldset
			legend Sisäänkirjautuminen
			label Sähköposti:
			br
			input(name='email')
			br
			label Salasana:
			br
			input(type='password', name='password', value='')
			br
			br
			button(type='submit', class='button positive')
				img(src='/images/blueprint/plugins/buttons/icons/tick.png', alt='')
				| Kirjaudu sisälle
			a(href='/login/reset', class='button') Salasana hukassa?
- else
	| Olette kirjautuneena sisälle.
