#act
	h3 Tervetuloa!
	p Tunnuksenne aktivointi on melkein valmis: asettakaa seuraavaksi salasana.
	form(method='post', action='/act/'+authKey)
		fieldset
			legend Salasanan asettaminen
			label Sähköposti: 
			= email
			br
			br
			label Salasana:
			br
			input(type='password', name='password', value='')
			br
			label Salasana (uudelleen):
			br
			input(type='password', name='password2', value='')
			br
			button(type='submit', class='button positive')
				img(src='/images/blueprint/plugins/buttons/icons/tick.png', alt='')
				| Vahvista
			a(href='/', class='button negative')
				img(src='/images/blueprint/plugins/buttons/icons/cross.png', alt='')
				| Peruuta
